$brand-primary: #007fc7;
$secondary-color:#ffd500;
$hover-color:#00649E;
$secondary-hover-color:#fbbb00;
$text-color: #252525;
$title-color: #252525;
$headings-color: #252525;
$alter-headings-color: #fff;
$alter-text-color: #c2c2c2;
$border-color: #dee2e6;

$white: #fff;
$grey: #656565;
$light-grey: #707070;
$black: #000;
$transition: all 0.4s;
$headings-font-family:'Poppins',
sans-serif;
$body-font-family: 'Poppins',
sans-serif;
$fontawesome: 'FontAwesome';


$navbar-link-color: $white;
$navbar-hover-color: $brand-primary;
$navbar-hover-bg: transparent;
$navbar-active-color: $brand-primary;
$navbar-active-bg: transparent;

$hover-line-color: $brand-primary;
$active-line-color: $hover-line-color;

$dropdown-wrap-color: $black;
$dropdown-link-color: $white;

$dropdown-hover-color: $white;
$dropdown-hover-bg: $brand-primary;

$dropdown-active-color: $brand-primary;
$dropdown-active-bg: $brand-primary;

$navbar-toggle-bg: $brand-primary;
$navbar-toggle-line-color: $black;


.vertical-center {
  vertical-align: middle;
}
.speakers img
{
  display: block;
  margin: auto;
}
.f-logo img
{
  max-width: 428px;
}

.btn-mail {
  text-decoration: none;
  bottom: 26px;
  position: fixed;
  background-size: cover;
  right: 50px;
  z-index: 1000;
  border: none;
  outline: none;
  width: 60px;
}

.hero-banner-area
{
  .container{
    max-width: 1440px;
  }
}